rails-app:
  user: # REPLACE THIS TEXT WITH VALID USER NAME #
  amazon_access_key_id:  # REPLACE THIS TEXT WITH VALID ACCESS KEY ID #
  amazon_secret_access_key:  # REPLACE THIS TEXT WITH VALID SECRET ACCESS KEY #
  name:  # REPLACE THIS TEXT WITH VALID NAME #
  company:  # REPLACE THIS TEXT WITH VALID COMPANY #
  dnode_token:  # REPLACE THIS TEXT WITH VALID DNODE TOKEN #
  authorizenet_login:  # REPLACE THIS TEXT WITH VALID AUTHORIZENET LOGIN #
  authorizenet_pass:  # REPLACE THIS TEXT WITH VALID AUTHORIZENET PASSWORD #
  domain: example.com

mysql:
  server:
    root_password: # REPLACE THIS TEXT WITH VALID ROOT PASSWORD #

mail_alert:
  domain: # REPLACE THIS TEXT WITH VALID DOMAIN FOR MAIL SERVER #
  account:
    email: email_address@domain.com
    password: # please enter password #
  users:
    - user1@domain.com
    - user2@domain.com
    - user3@domain.com
    - user4@domain.com

backup:
  s3:
    bucket: some-aws-bucket
    region: us-east-1
    access_key_id: # REPLACE THIS TEXT WITH VALID ACCESS KEY ID #
    secret_access_key: # REPLACE THIS TEXT WITH VALID SECRET ACCESS KEY #
    path: DatabaseBackups
